.module h3.modtitle {
  -ms-filter: none;
  filter: none;
}
.accordion-inner {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#g-about .yt-slider-carousel .carousel-caption {
  background: none;
}
#mod-finder-searchform input.inputbox {
  padding: 0px 30px 0px 10px;
}
#yt_header #yt_logo {
  -ms-transform: translate(0,0);
}
.slider .carousel .carousel-control {
  -ms-filter: none;
  filter: none;
}
.module.categories-ii .sj_category {
  box-shadow: none;
  direction: ltr;
  text-align: right;
}
#k2Container .itemList .itemContainer.col-sm-12 .catItemView .catItemImageBlock {
  width: 40%;
  float: left;
  display: inline-block;
  z-index: 2;
}
#k2Container .itemList .itemContainer.col-sm-12 .catItemView .main-item {
  width: 55%;
  float: left;
  display: inline-block;
  z-index: 1;
}
#yt_breadcrumb #breadcrumb .breadcrumb .divider {
  vertical-align: 2px;
}
.module.k2-slider-style-one .modcontent .sj-k2-container-slider .slider .item .item-wrap .item-img .item-img-info .over-image {
  display: none;
}
.module.k2-mega-new-main .modcontent .sj-meganew .item-first .item-image .over-image {
  display: none;
}
#k2Container .itemList .itemContainer.col-sm-12 .catItemView .catItemImageBlock .over-image,
#k2Container .itemList .itemContainer.col-sm-6 .catItemView .catItemImageBlock .over-image,
#k2Container .itemList .itemContainer.col-sm-4 .catItemView .catItemImageBlock .over-image,
#k2Container .itemList .itemContainer.col-sm-3 .catItemView .catItemImageBlock .over-image,
#k2Container.latestView .itemList .catItemView .catItemImageBlock .over-image,
#k2Container.userView .itemList .catItemView .catItemImageBlock .over-image,
#k2Container.tagView .itemList .catItemView .catItemImageBlock .over-image {
  display: none;
}
.rtl .yt-list.type-disc li:before {
  display: inline-block;
  margin: 0 0 0 10px;
}
.rtl .module.slider {
  direction: ltr;
}
.rtl .module.slider .carousel-caption {
  direction: rtl;
}
.rtl #k2Container .itemList .itemContainer.col-sm-12 .catItemView .catItemImageBlock {
  float: right;
}
.rtl #k2Container .itemList .itemContainer.col-sm-12 .catItemView .main-item {
  float: right;
}
.rtl #yt_menuposition ul.navirtl > li.level1 {
  direction: ltr;
}
.rtl #yt_menuposition ul.navirtl > li.level1 a.item-link {
  direction: rtl;
}
.rtl #yt_menuposition ul.navirtl > li.level1 li.level2 {
  direction: rtl;
}
.rtl .module.bg-content1 h3.modtitle {
  background: transparent;
}
.rtl .row-fluid .first[class*="span"] {
  margin: 0;
}
.rtl #k2Container .itemList .itemContainer.col-sm-12 .catItemView .catItemImageBlock {
  float: right;
}
