.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rtl div.genericItemImageBlock {
  float: right;
}
.rtl div.genericItemImageBlock .genericItemImage {
  margin: 0 0 8px 8px;
}
.rtl div.userBlock img {
  float: right;
  margin: 0 0 0 8px;
}
.rtl #yt_tool_bottom .module .btn-special {
  padding: 0 5px;
}
.rtl #yt_spotlight8 .module h3.modtitle::before {
  left: auto;
  right: 0;
}
.rtl #yt_spotlight2 #bottom1 ul.menu li a {
  border-right: none;
  border-left: 1px solid #5a5a5a;
}
.rtl #yt_breadcrumb div.module ul.breadcrumb li:first-child .divider {
  margin: 0 0 0 5px;
}
.rtl [class^="icon-"],
.rtl [class*=" icon-"] {
  margin: 0 0 0 5px;
}
.rtl .icon-caret-right:before {
  content: "\f0d9";
}
.rtl .form-horizontal .control-label {
  text-align: right;
}
.rtl #system-message .error > ul {
  margin-right: 0;
  background-position: 99% center;
}
.rtl .label {
  margin-right: 0px;
  margin-left: 15px;
}
.rtl .pagination li {
  float: right;
}
.rtl .pagination li .pagenav .l-hiden {
  display: none;
}
.rtl .pagination li .pagenav .r-hiden {
  display: inline;
}
.rtl .blog .items-leading .item .article-text .item-headinfo  dl.article-info,
.rtl .blog .items-row .item .article-text .item-headinfo  dl.article-info {
  white-space: nowrap;
}
.rtl .blog .items-leading .item .item-image,
.rtl .blog .items-row .item .item-image {
  margin: 0 0 20px 20px;
  float: right;
}
.rtl .blog .items-leading .item .article-text .hits,
.rtl .blog .items-row .item .article-text .hits {
  background-position: right center;
  padding-left: 0px;
  padding-right: 27px;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info,
.rtl .blog .items-row .item .article-text .article-aside .article-info {
  white-space: nowrap;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info .create,
.rtl .blog .items-row .item .article-text .article-aside .article-info .create {
  padding-left: 0px;
  background-position: right center;
  margin-right: 0px;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info .createdby,
.rtl .blog .items-row .item .article-text .article-aside .article-info .createdby {
  padding-left: 0px;
  background-position: right center;
  margin-right: 0px;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info .hits,
.rtl .blog .items-row .item .article-text .article-aside .article-info .hits {
  padding-left: 0px;
  background-position: right center;
}
.rtl .blog .items-leading .item .article-text .item-tags .tags a,
.rtl .blog .items-row .item .article-text .item-tags .tags a {
  float: right;
  margin: 0 0px 1px 1px;
}
.rtl .blog.tag-category ul.blank {
  padding: 0;
}
.rtl .blog.tag-category ul.blank .item {
  padding-right: 0;
  margin-bottom: 20px;
}
.rtl .blog.tag-category ul.blank .item .item-image {
  margin-left: 20px !important;
  margin-right: 0 !important;
  float: right;
}
.rtl .blog-featured .items-leading .item .article-text .item-headinfo  dl.article-info,
.rtl .blog-featured .items-row  .item .article-text .item-headinfo  dl.article-info {
  white-space: nowrap;
}
.rtl .blog-featured .items-leading .item .item-image,
.rtl .blog-featured .items-row  .item .item-image {
  margin: 0 0 20px 20px;
  float: right;
}
.rtl .blog-featured .items-leading .item .article-text .hits,
.rtl .blog-featured .items-row  .item .article-text .hits {
  background-position: right center;
  padding-left: 0px;
  padding-right: 27px;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info {
  white-space: nowrap;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info .create,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info .create {
  padding-left: 0px;
  background-position: right center;
  margin-right: 0px;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info .createdby,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info .createdby {
  padding-left: 0px;
  background-position: right center;
  margin-right: 0px;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info .hits,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info .hits {
  padding-left: 0px;
  background-position: right center;
}
.rtl .blog-featured .items-leading .item .article-text .item-tags .tags a,
.rtl .blog-featured .items-row  .item .article-text .item-tags .tags a {
  float: right;
  margin: 0 0px 1px 1px;
}
.rtl .blog-featured .items-leading .item .item-image .feature-info,
.rtl .blog-featured .items-row  .item .item-image .feature-info {
  text-align: right;
}
.rtl .blog-featured .items-leading .item .item-image .feature-info .create,
.rtl .blog-featured .items-row  .item .item-image .feature-info .create {
  margin-right: 0px;
  margin-left: 20px;
  padding-left: 0px;
  padding-right: 23px;
  background-position: right center;
}
.rtl .blog-featured .items-leading .item .item-image .feature-info .createdby,
.rtl .blog-featured .items-row  .item .item-image .feature-info .createdby {
  margin: 0px;
  padding-left: 0px;
  padding-right: 25px;
  background-position: right center;
}
.rtl .blog-featured .items-leading .item .article-text a.more,
.rtl .blog-featured .items-row  .item .article-text a.more {
  float: right;
  padding: 10px 0px 10px 20px;
}
.rtl .blog-featured .items-leading .item .article-text a.more:after,
.rtl .blog-featured .items-row  .item .article-text a.more:after {
  left: auto;
  right: 0px;
}
.rtl .blog-featured .items-leading .item .article-text .hits,
.rtl .blog-featured .items-row  .item .article-text .hits {
  float: none;
}
.rtl .blog-featured .items-leading .item:hover .article-text a.more,
.rtl .blog-featured .items-row  .item:hover .article-text a.more {
  padding: 10px 20px;
}
.rtl .item-page .article-aside {
  overflow: hidden;
}
.rtl .item-page .article-aside ul.actions {
  float: left;
}
.rtl .item-page .article-aside dl.article-info {
  float: right;
}
.rtl .item-page .article-aside dl.article-info dd {
  margin-right: 0px;
  margin-left: 20px;
  font-size: 100%;
  white-space: nowrap;
}
.rtl .item-page .article-aside dl.article-info dd .create {
  padding-left: 0px;
  padding-right: 23px;
  background-position: right center;
}
.rtl .item-page .article-aside dl.article-info dd .hits {
  padding-left: 0px;
  padding-right: 27px;
  background-position: right center;
}
.rtl .item-page .tags a {
  float: right;
  margin: 0px 0px 1px 1px;
}
.rtl .item-page .img-fulltext.pull-left {
  margin: 0 0 1em 1em;
}
.rtl .item-page .img-fulltext.pull-right {
  margin: 0 1em 1em 0;
}
.rtl .item-page .image {
  float: right;
  margin: 5px 0px 20px 30px;
}
.rtl .item-page .dt-list {
  float: right;
}
.rtl .item-page .dt-list ul li {
  padding: 10px 50px 10px 10px;
}
.rtl .item-page .dt-list ul li strong {
  left: auto;
  right: 10px;
}
.rtl .item-page .notice {
  background-position: 98% center;
  padding: 30px 60px 30px 30px;
}
.rtl .item-page .article-index {
  margin: 0px 20px 0px 0px;
}
.rtl .item-page ul.related-items li .img-fulltext {
  float: right;
  margin: 0 0 0 20px;
}
.rtl .item-page ul.related-items li .related-item-date {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
.rtl .item-page ul.related-items li .related-item-hits {
  float: right;
}
.rtl table.category thead tr th {
  text-align: right;
}
.rtl div.categories-list ul {
  padding: 0 15px 0 0;
}
.rtl div.categories-list ul ul > li:after,
.rtl div.categories-list ul ul > li:before {
  left: auto;
  right: -1px;
}
.rtl #g-about .yt-slider-carousel .carousel-indicators {
  right: auto;
  left: 0;
}
.rtl #g-about ul.circle li {
  margin-left: 0;
  margin-right: 20px;
}
.rtl #g-about ul.circle li:before {
  margin-left: 0;
  margin-right: -20px;
}
.rtl #g-pageservices .features .fa {
  margin-left: 15px;
  margin-right: 0;
}
.rtl dl.tabs dt {
  float: right;
}
.rtl .search #searchForm .phrases-box input,
.rtl .search #searchForm .search #searchForm .only input {
  float: right;
  margin: 4px -20px 0 5px;
}
.rtl .search #searchForm input[type="text"] {
  height: 37px;
}
.rtl #advanced-search {
  text-align: right;
}
.rtl.contentpane #mailto-window .mailto-close {
  left: 40px;
  right: auto;
}
.rtl.contentpane .row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
.rtl.contentpane .row-fluid [class*="span"] {
  margin: 0;
  margin-right: 2.12766%;
  float: right;
}
.rtl .pager li > a,
.rtl .pager li > span {
  white-space: nowrap;
}
.rtl div.contact .contact-image {
  float: left;
}
.rtl #g-about .customersay .cus-title {
  left: inherit;
  padding: 10px 0;
}
.rtl #g-about .customersay .yt-extra-carousel .carousel-control.left {
  left: 10px !important;
  right: inherit !important;
}
.rtl #g-about .customersay .yt-extra-carousel .carousel-control.right {
  left: 45px !important;
  right: inherit !important;
}
.rtl #g-about .customersay blockquote {
  border-right: 0;
}
.rtl #g-about .caption {
  margin: 0 0 1em 1em;
}
.rtl #g-about .title b {
  padding: 0 0 0 15px;
}
.rtl.view-login .wrap-login .form-horizontal .control-group {
  float: right;
}
.rtl.view-login .wrap-login .other-link ul.yt-list li {
  float: right;
  margin: 0 0 0 25px;
}
.rtl .registration .form-horizontal .control-label {
  text-align: right;
  float: right;
}
.rtl div.archive .filter-search #limit {
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .tag-category ul.items-row .item .item-image {
  margin: 0px 0px 20px 20px;
}
.rtl .tag-category ul.items-row .item a.readmore {
  float: right;
}
.rtl .tag-category ul.items-row .item a.readmore:after {
  left: auto;
  right: 0px;
}
.rtl .tag-category ul.items-row .item .article-text .item-headinfo .article-info dd .create {
  background-position: right center;
  padding-left: 0px;
  padding-right: 25px;
}
.rtl #k2Container div.itemListSubCategories h3 {
  text-align: right;
  direction: ltr;
}
.rtl #k2Container div.itemListCategory img {
  float: right;
  margin: 0 0 0 8px;
}
.rtl #k2Container div.k2Pagination .pagination a,
.rtl #k2Container div.k2Pagination .pagination span {
  height: 30px;
  padding: 5px 12px;
}
.rtl #k2Container div.k2Pagination .pagination li .pagenav .l-hiden {
  display: none;
}
.rtl #k2Container div.k2Pagination .pagination li .pagenav .r-hiden {
  display: inline;
}
.rtl #k2Container.itemView .itemHeader .itemToolbar {
  float: left;
}
.rtl #k2Container.itemView .itemToolbar .me-inline {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}
.rtl #k2Container.itemView .addthis_default_style .addthis_counter {
  float: right;
}
.rtl #k2Container.itemView .addthis_default_style .addthis_separator,
.rtl #k2Container.itemView .addthis_default_style .at300b,
.rtl #k2Container.itemView .addthis_default_style .at4-icon,
.rtl #k2Container.itemView .addthis_default_style .at300bo,
.rtl #k2Container.itemView .addthis_default_style .at300m,
.rtl #k2Container.itemView .addthis_default_style .at300bs {
  float: right;
}
.rtl #k2Container.itemView .itemBody .itemNaviTop dl.article-info dd .itemDateCreated {
  margin: 0;
}
.rtl #k2Container.itemView .itemAuthorBlock .itemAuthorAvatar {
  float: right;
}
.rtl #k2Container.itemView .itemAuthorBlock .header-author .me-inline {
  float: right;
}
.rtl #k2Container.itemView .itemAuthorLatest ul li.even i,
.rtl #k2Container.itemView .itemAuthorLatest ul li.odd i {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.rtl #k2Container.itemView .itemComments .itemCommentsList .even .commentAuthorName,
.rtl #k2Container.itemView .itemComments .itemCommentsList .odd .commentAuthorName {
  margin: 0;
}
.rtl #k2Container.itemView .itemComments .itemCommentsList .even img,
.rtl #k2Container.itemView .itemComments .itemCommentsList .odd img {
  margin: 5px 0 0 15px;
  float: right;
}
.rtl #k2Container.itemView .itemComments .itemCommentsForm form.form-validate .me-inline {
  float: right;
}
.rtl #k2Container.itemView .itemComments .itemCommentsForm form.form-validate input#commentEmail {
  margin-right: 0;
  margin-left: 17px;
}
.rtl #k2Container .itemList .itemContainer.col-sm-12 .catItemView .catItemImageBlock {
  margin: 0 0 0 30px;
}
.rtl #k2Container .itemList .catItemView .article-aside dd {
  margin: 0 0 0 10px;
}
.rtl #k2Container div.itemTwitterButton,
.rtl #k2Container div.itemFacebookButton {
  float: right;
}
.rtl #k2Container.itemView .itemBody .itemNaviTop dl.article-info dd .itemDateCreated {
  margin: 0;
}
.rtl #k2Container div.catItemRatingBlock span {
  float: right;
}
.rtl #k2Container div.catItemRatingBlock .itemRatingForm {
  float: right;
}
.rtl #k2Container div.catItemRatingBlock .itemRatingList {
  float: right;
}
.rtl #k2Container.latestView .itemList .catItemView .catItemImageBlock,
.rtl #k2Container.userView .itemList .catItemView .catItemImageBlock,
.rtl #k2Container.tagView .itemList .catItemView .catItemImageBlock {
  float: right;
  margin: 0 0 0 20px;
}
.rtl .ico-hits,
.rtl .ico-user,
.rtl .ico-clock {
  margin: 0 0 0 5px;
}
.rtl .itemRatingList a,
.rtl .itemRatingList .itemCurrentRating {
  left: auto;
  right: 0;
}
.rtl #yt_header > div:before {
  float: right;
}
.rtl #yt_header .menu li:last-child {
  padding-left: 10px;
  padding-right: 0;
  border-right: none;
  border-left: 1px solid #32363e;
}
.rtl #yt_header .menu li ul.yt-list {
  left: auto;
  right: 0;
}
.rtl #yt_header .menu li ul.yt-list li {
  padding: 5px 10px;
  border: none;
}
.rtl .banner-top {
  text-align: left;
}
.rtl #yt_menuwrap #login div.module {
  float: left;
}
.rtl #yt_menuwrap #login div.module .yt-loginform {
  border-right: none;
  border-left: 1px solid #34353A;
  width: 121px;
}
.rtl #login-form .login-greeting {
  float: right;
  margin: 4px 0 0 5px;
  white-space: nowrap;
}
.rtl #login-form .logout-button {
  float: right;
}
.rtl #login .form-vertical {
  padding: 11px 2px;
}
.rtl #logout-form.form-vertical {
  float: left;
  padding: 0;
  margin-right: 10px;
  margin-left: 0;
}
.rtl #logout-form.form-vertical .login-greeting {
  float: right;
  color: #fff;
  margin: 0 0 0px 5px;
}
.rtl #mod-finder-searchform .button {
  right: auto;
  left: 30px;
}
.rtl #mod-finder-searchform input.inputbox {
  padding: 4px 10px 4px 30px;
}
.rtl ul,
.rtl ol {
  padding-right: 14px;
}
.rtl .round-online {
  float: right;
  margin: 0 0 0 15px;
}
.rtl .round-online i {
  margin: 5px auto 0;
}
.rtl .module.me_search {
  float: left;
  border-left: 1px solid #32363e;
  text-align: left;
}
.rtl .module.me_search .modcontent .dropdown .dropdown-menu {
  right: auto;
  left: 0;
}
.rtl .module.me_search .modcontent .dropdown .dropdown-menu:before {
  left: auto;
  right: 96%;
}
.rtl .module.me_search #mod-finder-searchform input.inputbox {
  margin: 0;
}
.rtl .module.me-login {
  float: left;
}
.rtl .module.me-login h3.title-login i {
  margin: 0 5px 0 0;
}
.rtl .module.me-login ul.yt-loginform {
  left: auto;
  right: 0;
}
.rtl .module.me-login ul.yt-loginform li.yt-login,
.rtl .module.me-login ul.yt-loginform li.yt-register {
  text-align: right;
}
.rtl .module.me-language {
  float: left;
}
.rtl .module.me-language .mod-languages a.dropdown-toggle {
  border-left: none;
}
.rtl .module.me-language .mod-languages a.dropdown-toggle i {
  margin: 0 5px 0 0;
}
.rtl .module.me-language .mod-languages a.dropdown-toggle img {
  margin-left: 5px;
  margin-right: 0;
}
.rtl .module.me-language .modcontent .mod-languages ul.dropdown-menu li {
  text-align: right;
}
.rtl .module.me-language .modcontent .mod-languages ul.dropdown-menu li img {
  float: right;
  margin-right: 0;
  margin-left: 9px;
}
.rtl .module.newsletter {
  padding-left: 0;
  padding-right: 285px;
}
.rtl .module.newsletter h3.modtitle {
  left: auto;
  right: 0;
}
.rtl .module.newsletter h3.modtitle:before {
  margin-right: 0;
  margin-left: 15px;
}
.rtl .module.newsletter .acymailing_form td.acysubbuttons input.button {
  margin-left: 0;
  margin-right: 20px;
}
.rtl .module.bg1 ul,
.rtl .module.bg2 ul,
.rtl .module.bg3 ul,
.rtl .module.bg4 ul {
  padding-left: 0px;
  padding-right: 12px;
}
.rtl .module.style-icon h3.modtitle [class^="icon-"],
.rtl .module.style-icon h3.modtitle [class*=" icon-"] {
  left: auto;
  right: -10px;
}
.rtl .module._menu ul.menu > li:before,
.rtl .module._menu ul.menu > li.deeper > a:before {
  float: right;
  margin: 0 0 0 8px;
}
.rtl .module._menu ul.menu > li .yt-list.type-disc li:before {
  margin: 0 0 0 8px;
}
.rtl .module.badge_hot,
.rtl .module.badge_cool,
.rtl .module.badge_new,
.rtl .module.badge_best {
  position: relative;
  padding-right: 75px;
  padding-bottom: 5px;
  padding-left: 0;
}
.rtl .module.badge_hot .badge,
.rtl .module.badge_cool .badge,
.rtl .module.badge_new .badge,
.rtl .module.badge_best .badge {
  left: auto;
  right: 0;
}
.rtl .module.icon1 h3.modtitle,
.rtl .module.icon2 h3.modtitle,
.rtl .module.icon3 h3.modtitle,
.rtl .module.icon4 h3.modtitle,
.rtl .module.icon5 h3.modtitle,
.rtl .module.icon6 h3.modtitle,
.rtl .module.icon7 h3.modtitle,
.rtl .module.icon8 h3.modtitle {
  padding: 8px 35px 8px 0;
}
.rtl .module.icon1 h3.modtitle:before,
.rtl .module.icon2 h3.modtitle:before,
.rtl .module.icon3 h3.modtitle:before,
.rtl .module.icon4 h3.modtitle:before,
.rtl .module.icon5 h3.modtitle:before,
.rtl .module.icon6 h3.modtitle:before,
.rtl .module.icon7 h3.modtitle:before,
.rtl .module.icon8 h3.modtitle:before {
  left: auto;
  right: 0;
}
.rtl .module.social-icon .list-icon {
  text-align: left;
}
.rtl .module.cus-admissions .modcontent ul li .icon {
  float: right;
}
.rtl #contact ul li i {
  margin: 0px 0px 0px 7px;
}
.rtl .module.clients-say .modcontent div.yt-extra-carousel .carousel-inner .item .item-image {
  float: right;
  margin: 0 0 30px 30px;
}
.rtl .module.clients-say .modcontent div.yt-extra-carousel .carousel-indicators {
  right: 12%;
}
.rtl .list_mega {
  padding: 0;
}
.rtl .list_mega li:before {
  margin: 0 0 0 10px;
}
.rtl .module.get-in-touch .modcontent ul li span.lea {
  float: right;
  margin: 0 0 0 3px;
}
.rtl #myLogin .modal-content {
  text-align: right;
}
.rtl .module.k2-slider-style-one .modcontent .sj-k2-container-slider {
  direction: ltr;
}
.rtl .module.k2-slider-style-one .modcontent .sj-k2-container-slider .page-button .control-button .next {
  right: auto;
  left: 25px;
}
.rtl .module.k2-slider-style-one .modcontent .sj-k2-container-slider .page-button .control-button .preview {
  right: auto;
  left: 2px;
}
.rtl .module.k2-slider-style-one .modcontent .sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info {
  text-align: right;
}
.rtl .module.k2-slider-style-one .modcontent .sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .item-read a i {
  border-left: 1px solid #ddd;
  border-right: none;
  float: right;
}
.rtl .k2-content-tab ul li.even .moduleItemIntrotext .moduleItemImage,
.rtl .k2-content-tab ul li.odd .moduleItemIntrotext .moduleItemImage {
  float: right;
  margin: 0 0 0 15px;
}
.rtl .module.categories-ii .modcontent ul.line > li.content h3.tilte:before {
  left: auto;
  right: 0;
}
.rtl .module.slideshow .sj-k2slickslider {
  margin-left: 0;
  margin-right: -15px;
}
.rtl .extra-upcoming-slider  .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image .time-image {
  left: auto;
  right: 0;
}
.rtl .extra-upcoming-slider  .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image:hover .time-image {
  right: -100%;
}
.rtl .extra-upcoming-slider  .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .item-content .item-readmore {
  right: auto;
  left: 20px;
}
.rtl .extra-upcoming-slider  .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .item-content .item-readmore a i {
  -moz-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.rtl div.k2LatestCommentsBlock.tab-comments ul li a.lcAvatar img {
  float: right;
  margin: 2px 0 4px 9px;
}
.rtl div.k2LatestCommentsBlock.tab-comments ul .lcCommentDate {
  float: right;
}
.rtl .module.featured-videos .sj-k2-container-slider .page-button .control-button .preview {
  left: -10px;
  right: auto;
}
.rtl .module.featured-videos .sj-k2-container-slider .page-button .control-button .next {
  right: auto;
  left: 10px;
}
.rtl .k2TagCloudBlock.tags-k2 a {
  float: right;
}
.rtl .module.k2-mega-new-main .modcontent .sj-meganew .item-other .otehr-link .by-date {
  text-align: left;
}
.rtl .module.k2-mega-new-main .modcontent .sj-meganew .item-first .item-image {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}
.rtl .module.k2-mega-new-main .modcontent .sj-meganew .item-first .item-readmore a i {
  border-left: 1px solid #ddd;
  border-right: none;
}
.rtl .module.k2-mega-new-main .modcontent .sj-meganew .meganew-viewall a i {
  border-left: 1px solid #ddd;
  border-right: none;
}
.rtl .module.k2-categories .k2CategoriesListBlock > ul li:hover a {
  -moz-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
}
.rtl #right .module div.moduletabs.top-position {
  margin: 0;
}
.rtl .module div.moduletabs.top-position {
  margin: 0 0 0 -15px;
}
.rtl .module div.moduletabs.top-position div.tabs-content-wrap div.tabs-content div.k2ItemsBlock ul {
  padding: 0;
}
.rtl .module div.moduletabs.top-position div.tabs-content-wrap div.tabs-content div.k2ItemsBlock ul .moduleItemIntrotext .moduleItemImage {
  margin: 0 0 0 15px;
  float: right;
}
.rtl div.moduletabs.top-position div.tabs-container ul.tabs li {
  float: right !important;
  border-right: none;
}
.rtl div.moduletabs.top-position div.tabs-container ul.tabs li:last-child {
  border: none;
}
.rtl div.moduletabs.top-position div.tabs-content-wrap .bsn-wrap .item .basicnews-info .basic-date {
  float: right;
  margin: 0 0 0 20px;
  padding-left: 0px;
  padding-right: 21px;
  background-position: right center;
}
.rtl div.moduletabs.top-position div.tabs-content-wrap .bsn-wrap .item .basicnews-info .cattitle {
  float: right;
  padding-left: 0px;
  padding-right: 27px;
  background-position: right center;
}
.rtl div.moduletabs.top-position div.tabs-content-wrap .bsn-wrap .item .bsn-image {
  margin-right: 0px;
  margin-left: 18px;
}
.rtl #xmap {
  margin: 20px;
}
.rtl #xmap ul li {
  list-style: none;
  background: url(../images/point.png) repeat-x 0 13px;
}
.rtl #xmap ul li a,
.rtl #xmap ul li span {
  position: relative;
  padding-right: 20px;
}
.rtl #xmap ul li a:before,
.rtl #xmap ul li span:before {
  position: absolute;
  right: 0;
  content: '\f104';
}
.rtl #xmap ul ul.level_1 {
  margin-right: 20px;
  margin-left: 0;
}
.rtl #xmap ul ul.level_1 li {
  padding: 0;
}
.rtl .module.k2-mega-new-main .meganew-pretext a {
  float: right;
  border-left: 1px solid #fff;
  border-right: none;
}
.rtl .module.k2-mega-new-main .modcontent .sj-meganew .meganew-wrap .meganew-box .meganew-box-inner .meganew-items.theme3 .item-first {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
.rtl .module.k2-mega-new-main .modcontent .sj-meganew .meganew-wrap .meganew-box .meganew-box-inner .meganew-items.theme3 .item-other .otehr-link {
  padding: 0;
}
.rtl .module.k2-mega-new-main .modcontent .sj-meganew .meganew-wrap .meganew-box .meganew-box-inner .meganew-items.theme3 .item-other .otehr-link li .other-item-image {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.rtl .sj-social-media-counts .sc-wrap .sc-item .sc-icon {
  float: right;
  border-left: 1px solid rgba(255,255,255,0.2);
  border-right: none;
}
.rtl div.contact-ajax .ctajax-element .el-ctajax-form .el-control.ctajax-error .ca-tooltip {
  left: 10px;
  right: auto;
}
.rtl div.contact-ajax .ctajax-element .el-info-contact .info-address i,
.rtl div.contact-ajax .ctajax-element .el-info-contact .info-mobie i,
.rtl div.contact-ajax .ctajax-element .el-info-contact .info-mail i {
  float: right;
  margin: 0 0 0 30px;
}
.rtl div.contact-ajax .ctajax-element .el-inner .el-heading span:before {
  left: 100%;
  margin: 0 0 0 0.5em;
  right: auto;
}
.rtl div.contact-ajax .ctajax-element .el-inner .el-heading span:after {
  left: auto;
  margin: 0 0.5em 0 0;
}
.rtl div.sj-accordion .acd-items .acd-item .acd-content-wrap .acd-content-wrap-inner .acd-content ul.acd-info li {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
.rtl div.sj-accordion .acd-items .acd-item .acd-content-wrap .acd-content-wrap-inner .acd-content ul.acd-info li span.acd-date {
  padding-left: 0px;
  padding-right: 23px;
  background-position: right center;
}
.rtl div.sj-accordion .acd-items .acd-item .acd-content-wrap .acd-content-wrap-inner .acd-content ul.acd-info li span.acd-hits {
  padding-left: 0px;
  padding-right: 27px;
  background-position: right center;
}
.rtl .module.sjflatmenu .modcontent .accordion-menu {
  direction: ltr;
}
.rtl .module-sj-market .last-update {
  float: left;
}
.rtl #myLogin #login-form .userdata input[type="checkbox"] {
  margin-left: 10px;
}
.rtl #myLogin .module._menu.side-menu .modcontent ul.menu > li.parent:hover ul {
  right: -100%;
  left: inherit;
}
.rtl #myLogin .module._menu.side-menu .modcontent ul.menu > li.parent:hover ul li:hover ul {
  right: -100%;
  left: inherit;
}
.rtl .module._menu.tree-menu .modcontent ul.menu > li.parent ul {
  padding-right: 20px;
  padding-left: 0;
}
.rtl .module._menu.tree-menu .modcontent ul.menu > li.parent:hover ul {
  padding-right: 20px;
}
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent > a:after,
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent span:after {
  content: "\f0d9";
  float: left;
}
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent:hover ul li.parent > a:after,
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent ul li.parent > span:after {
  content: "\f0d9";
  float: left;
  right: inherit;
}
.rtl .k2LatestCommentsBlock.tab-comments ul li .lcComment {
  float: right;
}
.rtl #moonavigator {
  text-align: left;
}
.rtl #moonavigator li.level1 {
  margin: 0;
  text-align: right;
}
.rtl #moonavigator li.level1:hover ul.level2,
.rtl #moonavigator li.level1.hover ul.level2 {
  left: auto;
  right: 0;
}
.rtl #moonavigator li.level1.last {
  padding-left: 0;
  padding-right: 25px;
}
.rtl #moonavigator ul {
  left: auto;
  right: -999em;
}
.rtl #moonavigator ul.subnavi li .item-link {
  padding: 6px 23px 6px 12px;
}
.rtl #moonavigator ul.subnavi li .item-link.havechild .fa {
  right: auto;
  left: 10px;
}
.rtl #moonavigator ul.subnavi li .item-link.havechild .fa:before {
  content: "\f0d9";
}
.rtl #moonavigator ul.subnavi li:hover ul.level3,
.rtl #moonavigator ul.subnavi li li.level3:hover ul.level4,
.rtl #moonavigator ul.subnavi li li.level4:hover ul.level5 {
  left: auto;
  right: 100%;
}
.rtl #meganavigator {
  text-align: left;
}
.rtl #meganavigator li.level1 {
  text-align: right;
}
.rtl #meganavigator li.level1.last {
  padding-left: 0;
  padding-right: 25px;
}
.rtl #meganavigator li.level1 .mega-content .mega-col {
  float: right;
}
.rtl #meganavigator li.level1 .mega-content ul.subnavi li .item-link.havechild .fa {
  right: auto;
  left: 10px;
}
.rtl #meganavigator li.level1 .mega-content ul.subnavi li .item-link.havechild .fa:before {
  content: "\f0d9";
}
.rtl #meganavigator li.level1 .mega-content ul.subnavi li .item-link::before,
.rtl #meganavigator li.level1 .mega-content .menu li .item-link::before {
  margin: 0 0 0 10px;
}
.rtl .nav-collapse ul.resmenu li.haveChild .fa-angle-down {
  left: 5px;
  right: auto;
}
